* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  width: 100%;
  text-align: center;
  background-color: white;
}
.boton_negro {
  width: 80px;
  height: 40px;
  padding: 5px;
  color: white;
  background-color: black;
  border: black 1px solid;
  border-radius: 4px;
}

.boton_negro:hover {
  background-color: rgb(66, 66, 66);
  border: black 3px solid;
}

.boton_rojo {
  width: 80px;
  height: 40px;
  padding: 5px;
  color: white;
  background-color: red;
  border: red 1px solid;
  border-radius: 4px;
}

.boton_rojo:hover {
  background-color: rgb(252, 131, 131);
  border: red 3px solid;
}

.contenido {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  width: 25%;
  height: 200px;
  border: blue 3px solid;
  border-radius: 5%;
  text-align: center;
  margin: 10px;
}

.image_card {
  width: 25%;
  margin-bottom: 10px;
}

.title_card {
  width: 90%;
  margin-bottom: 10px;
}
